
.navstyle{
    display: flex;
    justify-content: space-between;
}
.titlestyle{
    justify-content: flex-start;
    color: "orange";
    width: 40%;
    background-color: yellowgreen;
    padding: 15px;
   

    }
  .listStyle{
    background-color: violet;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 18px;
    list-style-type: none;
    /* margin-top: 5px; */
  }